<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="component-content-pro">
  <div class="component-content-color">
    <section class="container-100">

      <div class="container-70">

        <div class="row">

          <div class="col-md-12">

            <div class="product-img">

              <div class="row">
                <div class="col-md-10">
                  <!-- <img src="images/lens.png"> -->
                  <img src="{{finalProductData.imageurl}}" />

                </div>
                <div class="col-md-2">

                  <ul class="side-img-div">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-main-content display-none-responsive">
          <nb-tabset #tabSetRef fullWidth id="tabSetRef" class="ph-tabs" name="tabSetRef">
            <nb-tab tabTitle="Product Description" class="tab-content">
              <div class="main-div-content">
                <p>{{finalProductData.description}}
                </p>
                <span class="text-center pt-1 pb-1">Note: 1Day Rental - 12Hours & 2Days Rental - 24Hours </span>
                <hr>
                <p><strong>Technical Specifications-</strong></p>

                <ul>
                  <div *ngFor="let x of finalProductData.specs">
                    <li>{{x}}</li>
                  </div>
                </ul>

                <hr>
                <p><strong>Inclusions-</strong></p>
                <div *ngFor="let x of finalProductData.inclusions">
                  <p>{{x}}</p>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Terms & Conditions" class="tab-content">
              <div class="main-div-content">

                <p><strong>Documents Required & ID Verification - </strong></p>

                <p><strong>A copy of Passport / 2 ID&#39;s for Residential & Personal Verification.</strong></p>

                <p><strong>Valid Documents - </strong></p>

                <ul>
                  <li>Voter Card</li>
                  <li>Driving License </li>
                  <li>Passport (No Aadhar card required)</li>
                  <li>Local Residence Proof</li>
                </ul>

                <hr>
                <p><strong>Security Deposit -</strong></p>

                <p>We have <strong>No Cash Security Policy, </strong>instead, we will take a cheque and a valid Govt ID.
                </p>

                <p>We will take a <strong>Post Dated Cheque</strong> of the Replacement Value of the Product and a Valid
                  ID. </p>

                <p>Security deposit does not include rent. It takes care of damages, loss or mishandling (if any). Post
                  Dated Cheque will be handed over to you as soon as you return the product (without Damage).</p>

                <p>Don&#39;t want to provide your cheque every time you rent equipment, <a
                    target="_blank"><strong>Become a KYC Verified
                      Member</strong></a> and skip the <strong>Hassle of Verification</strong> for every time with
                  some<strong> Extra Benefits & Perks. </strong></p>

                <hr>
                <p><strong>Bookings - </strong></p>

                <p>For Confirmed Booking and Holding rented equipment, Booking amount mentioned must be paid, the rest
                  amount will be paid in advance at the time of site-pickup or delivery.</p>

                <p><strong>Cancellation </strong>-</p>

                <p><strong>2 Days Prio</strong>r - 0% of Total-Rent</p>

                <p><strong>0-2 Day Prior</strong> - 30% of Total-Rent</p>

                <p><strong>Refunds - </strong></p>

                <p>Any refunds related issues will be solved within 7-10 Working Days after confirmation of Refund.</p>
              </div>
            </nb-tab>
          </nb-tabset>

        </div>
        <div class="extra-details display-none-responsive">
          <h3 class="studio-main-head">TAGS <span></span></h3>
          <p>{{finalProductData.productName}} | {{finalProductData.type}}</p>
        </div>
        <section>
        </section>
      </div>
      <div class="container-30 sticky">
        <div class="side-form">
          <div class="product-detail product-form">
            <div class="row">
              <div class="col-md-12">
                <h4>{{finalProductData.productName}}</h4>
              </div>
            </div>
            <ul class="list-form">
              <li>
                1-2 Days (Rs.{{oneDayDiscAmt}} Per Day) </li>
              <li>
                3-4 Days (Rs.{{fourdayAmtDisc}} Per Day) </li>
              <li>
                5-7 Days (Rs.{{seveendayAmtDisc}} Per Day) </li>
              <li>
                8 Days ++ (Rs.{{seveenDaysMoreDisc}} Per Day) </li>
            </ul>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="rent-box">
                  <div class="rented">
                    <label>Total Rent</label><br>
                    <span class="show_book_price">{{this.ratePerDay}}</span>
                    <p class="par-rest-details font-weight-bold" id="show_book_day">Price is for {{this.duration}} day
                    </p>
                  </div>

                  <div class="rented">
                    <label>Book Now</label><br>
                    <span id="show_book_price">{{this.advanceAmt}}</span>
                    <p class="par-rest-details">& Pay Rest Later</p>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
            </div>
          </div>
          <form [formGroup]="bookForm">
            <div class="product-type clearfix">
              <div class="row row-ph">
                <div class="col-md-12 col-xs-12 pt-2">
                  <div class="form-group relative">
                    <label>Product<i style="color:red;">*</i></label>
                    <!--<a class="incr-btn" data-action="decrease" href="#">–</a>-->
                    <ngx-select class="form-control-select" formControlName="product" required
                      (selectionChanges)="rentPriceUpdateProduct($event)" [items]="modelData" optionValueField="id"
                      optionTextField="modelName" [multiple]="true" [allowClear]="true" placeholder="Select">
                    </ngx-select>
                    <span *ngIf="fval?.product?.errors?.required && isSubmitted" class="required-span">Product
                      Required</span>
                    <!--<a class="incr-btn" data-action="increase" href="#">&plus;</a>-->
                  </div>
                </div>
                <!-- <div class="text-left col-xs-6 col-md-6">
                    <label>Select Total Days<i style="color:red">*</i></label>
                    <ngx-select class="form-control-select" formControlName="totalDays"
                      (selectionChanges)="changeTotalDays($event)" required [items]="dayslist" optionValueField="value"
                      optionTextField="text" [allowClear]="true" placeholder="Select">
                    </ngx-select>
                    <span *ngIf="fval?.totalDays?.errors?.required && isSubmitted" class="required-span">Total Days
                      Required</span>
                  </div> -->

                <div class="col-md-7 col-xs-7 detae pt-1">
                  <div class="form-group relative">
                    <label>Select Your Date <i style="color:red">*</i></label>
                    <input [nbDatepicker]="rangepicker" (change)="rentPriceUpdateDate($event)"
                      placeholder="Select From and ToDate" formControlName="date" class="form-control" readonly>
                    <nb-rangepicker #rangepicker></nb-rangepicker>
                    <span *ngIf="fval?.date?.errors?.required && isSubmitted" class="required-span">Date
                      Required</span>
                    <span *ngIf="dateError" class="required-span">Please Select From and Todate</span>
                    <span *ngIf="!dateError && !fval?.fval?.errors?.required && !isSubmitted" class="text-primary">You
                      Selected Total - {{duration || "0"}} Days</span>
                  </div>
                </div>
                <div class="col-md-5 col-xs-5 detae pt-1">
                  <label>Pickup Time :<i style="color:red">*</i></label>
                  <input class="form-control" [owlDateTimeTrigger]="dt1" formControlName="pickUpdate" (dateTimeInput)="timeChange($event)"
                    [owlDateTime]="dt1">
                  <owl-date-time [pickerType]="'timer'" [hour12Timer]="true" #dt1></owl-date-time>
                  <span *ngIf="dateError" class="required-span">Please Select Pickup Time</span>
                  <span *ngIf="fval?.pickUpdate?.errors?.required && isSubmitted" class="required-span">Pickup Time
                    Required</span>
                </div>

                <!-- <div class="text-left col-xs-12 col-md-12 pt-2 pb-2" *ngIf="fval?.date?.value != null">
                  <table border="1">
                    <tr class="head-color">
                      <th class="text-center">Selected Product</th>
                      <th class="text-center">Rental Qty</th>
                    </tr>
                    <tr *ngFor="let x of selectedModel; let id=index">
                      <td class="text-center font-weight-bold"><span class="cut-price">{{x.modelName}}</span></td>
                      <td class="text-center font-weight-bold">

                        <span class="char-remaining">
                          <span [ngClass]="{'danger-dark': (x.availableQty <= 0)|| x.availableQtyerrormsg}">Available Qty :
                            {{x.availableQty}}</span>
                        </span>
                        <span class="char-remaining danger-dark">
                          <span *ngIf="x.issueQtyErrorMsg">Invalid pattern</span>
                        </span>
                      </td>
                    </tr>
                  </table>
                </div> -->
                <div class="col-xs-12 col-md-12" *ngIf="fval?.date?.value != null">
                  <label>Select QTY<i style="color:red">*</i></label>
                  <ngx-select class="form-control-select" formControlName="qty" (selectionChanges)="selecteQty($event)"
                    required [items]="qtyData" optionValueField="value" optionTextField="value" [allowClear]="true"
                    placeholder="Select">
                  </ngx-select>
                  <span *ngIf="fval?.qty?.errors?.required && isSubmitted" class="required-span">Qty
                    Required</span>
                  <span [ngClass]="{ 'required-span': availableQtyError ,'text-primary':!availableQtyError}">
                    {{availableQtyErrorMsg}}</span>
                </div>
                <div class="col-xs-12 col-md-12" *ngIf="fval?.date?.value != null">
                  <label>Choose Place For Pickup<i style="color:red">*</i></label>
                  <ngx-select class="form-control-select" required [items]="locationList"
                    (selectionChanges)="changeLocation($event)" optionValueField="id" optionTextField="talukName"
                    [allowClear]="true" placeholder="Select">
                  </ngx-select>
                  <span *ngIf="fval?.location?.errors?.required && isSubmitted" class=" text-left required-span">Place
                    Required</span>
                </div>

              </div>
            </div>
            <div class="clearfix text-left col-md-12 last-content">
              <label>Security Amount (Refundable) <i style="color:red">*</i></label>
            </div>
          </form>
          <button type="button" class="btn btn-form" [disabled]="isProductBtnSubmitted"
            (click)="showBookPopup()">Book</button><br>
          <span *ngIf="loggedUser?.email ==null || loggedUser == null" class="required-span text-center">Please Login
            In</span>


          <div class="offer-function">




            <span class="float-left">Special Offers</span>
            <a type="button" class="float-right" data-toggle="modal" data-target="#offer-coupon">More Offers</a>
            <br>
            <br>
            <div class="flex offer_coupon">
              <img src="https://www.rentoclick.com/images/special-offer.svg" class="img-cntr">
              <div>
                <div>
                  Use Code

                  <p class="p-code" id="myInput"></p>
                </div>
                <div class="coupon-desc">
                </div>
              </div>
              <a class="btn-form pull-right btn" onclick="myFunction('#myInput')">Copy</a>
            </div>




          </div>
          <!--OFFER-COUPON-->
        </div>

        <div class="product-main-content display-block-responsive">

          <nb-tabset #tabSetRef fullWidth id="tabSetRef" class="ph-tabs" name="tabSetRef">
            <nb-tab tabTitle="Product Description" class="tab-content">
              <div class="main-div-content">
                <p>Rent Canon 200D Mark-II for your better experience, Renting a Camera has never been so easy. We
                  provide
                  all kind of Professional Cameras on rent. Our wide range of rental products include Brands like Canon,
                  Sony, Carl Zeiss, Compact
                  Prime, Sigma, Samyang. Book now to rent a camera and make your project better without spending a lot.
                </p>
                <span class="text-center pt-1 pb-1">Note: 1Day Rental - 12Hours & 2Days Rental - 24Hours </span>
                <hr>
                <p><strong>Technical Specifications-</strong></p>

                <ul>
                  <li>24.1megapixel APS-C CMOS Sensor</li>
                  <li>Dual pixel CMOS AF</li>
                  <li>DIGIC 8</li>
                  <li>3 975 selectable focus positions (Live View)</li>
                  <li>Wifi Photo Video Transfer</li>
                  <li>3inch Rotatetable Display</li>
                  <li>Eye Detection AF (One Shot & Servo AF – Live View)</li>
                </ul>

                <hr>
                <p><strong>Inclusions-</strong></p>

                <p>1 Nos. Canon 200D Mark-II Camera</p>

                <p>1 Nos. Canon batteries</p>

                <p>1 Nos.  External Charger</p>

                <p>1 Nos. 18-55MM</p>

                <p>1 Nos. Carry case</p>

                <p>1 Nos. 32 GB Memory Card</p>

                <hr>
                <p>We provides all kind of <a>Photography and Videography
                    Equipment</a> on rent across Delhi NCR. Support Equipment like <a>DJI Ronin Gimbal,</a>
                  <a> Zhiyun Crane-2</a>,
                  <a>Mini JIB Crane</a>,
                  <a>Slider</a>,<a> Tripod </a>is
                  also available on rent. We have a full range of professional camera&#39;s like
                  <a>DSLR,</a>  <a>4K,6K & Beyond Camera</a> Rental, <a>Red Dragon 6K Camera</a><a>Camera & Lens
                    Kit</a>.
                </p>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Terms & Conditions" class="tab-content">
              <div class="main-div-content">

                <p><strong>Documents Required & ID Verification - </strong></p>

                <p><strong>A copy of Passport / 2 ID&#39;s for Residential & Personal Verification.</strong></p>

                <p><strong>Valid Documents - </strong></p>

                <ul>
                  <li>Voter Card</li>
                  <li>Driving License </li>
                  <li>Passport (No Aadhar card required)</li>
                  <li>Local Residence Proof</li>
                </ul>

                <hr>
                <p><strong>Security Deposit -</strong></p>

                <p>We have <strong>No Cash Security Policy, </strong>instead, we will take a cheque and a valid Govt ID.
                </p>

                <p>We will take a <strong>Post Dated Cheque</strong> of the Replacement Value of the Product and a Valid
                  ID. </p>

                <p>Security deposit does not include rent. It takes care of damages, loss or mishandling (if any). Post
                  Dated Cheque will be handed over to you as soon as you return the product (without Damage).</p>

                <p>Don&#39;t want to provide your cheque every time you rent equipment, <a
                    target="_blank"><strong>Become a KYC Verified
                      Member</strong></a> and skip the <strong>Hassle of Verification</strong> for every time with
                  some<strong> Extra Benefits & Perks. </strong></p>

                <hr>
                <p><strong>Bookings - </strong></p>

                <p>For Confirmed Booking and Holding rented equipment, Booking amount mentioned must be paid, the rest
                  amount will be paid in advance at the time of site-pickup or delivery.</p>

                <p><strong>Cancellation </strong>-</p>

                <p><strong>2 Days Prio</strong>r - 0% of Total-Rent</p>

                <p><strong>0-2 Day Prior</strong> - 30% of Total-Rent</p>

                <p><strong>Refunds - </strong></p>

                <p>Any refunds related issues will be solved within 7-10 Working Days after confirmation of Refund.</p>
              </div>
            </nb-tab>
          </nb-tabset>
        </div>
        <div class="extra-details pt-2 display-block-responsive">
          <h3 class="studio-main-head">TAGS <span></span></h3>
          <p>Canon 200 D camera | Canon camera rental | Dslr rental | Canon 200D Dslr on rent | Vlogging Dslr rental |
            Vlogging Camera on Rent |</p>
        </div>
      </div>
    </section>
  </div>
</div>

<div [ngStyle]="{'display': registrationShow ? 'block'  : 'none' }" class="component-contents">
  <div class="lightbox-model open dateVisible ">
    <div class="lightbox-contents" style="width: 351px !important;">
      <div class="lightbox-header clearfix">
        <div class="lightbox-title lightbox-title-bill">
          <span class="popu-billamo">Login & SignUp</span>
        </div>
        <div class="lightbox-close" (click)="registrationShow=false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="lightbix-inner-contents">
        <div class="tab-block-conetnts">
          <!--  -->
          <div class="row">
            <div class="col-md-12">
              <div class="button-controls">
                <ngx-customer-registration-login></ngx-customer-registration-login>
                <input type="button" (click)="registrationShow=false" value="Cancel" class="btn btn-clear" />
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header head-color">
        <h4 class="modal-title un-colorc">Camara Booking Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row pb-1">
            <div class="col-md-12 col-xs-12">

              <table border="1">
                <tr class="head-color">
                  <th class="text-center">TOTAL RENT</th>
                  <th class="text-center">PAY & BOOK NOW</th>
                </tr>
                <tr>
                  <td class="text-center font-weight-bold"><span class="cut-price">Rs.{{this.ratePerDay}}</span>
                    <p class="par-rest-details " id="show_book_day">Price is for {{this.duration}} day
                    </p>
                  </td>
                  <td class="text-center font-weight-bold"> <span id="cut-price">Rs.{{advanceAmt}}</span>
                    <p class="par-rest-details">& Pay Rest Later</p>
                  </td>
                </tr>
              </table>

              <!-- <div class="price-box">
                <div class="rented">
                  <label class="un-color"></label><br>

                </div>

                <div class="rented">
                  <label class="un-color"></label><br>

                </div>
              </div> -->
            </div>
            <div class="col-md-12 col-xs-12">
              <table class="font-weight-bold">
                <tr class="head-color">
                  <th colspan="2" class="text-center un-colorc">SELECTED PRODUCT</th>
                </tr>
                <tr>
                  <th colspan="2" class="text-center font-weight-bold">
                    {{finalProductData?.productName}}<br>{{selectedModel[0]?.modelName}}<br>{{selectedModel[1]?.modelName}}
                  </th>
                </tr>
              </table>
            </div>
            <div class="col-md-12 col-xs-12">
              <table class="font-weight-bold">
                <tr class="head-color">
                  <th colspan="2" class="text-center un-colorc">Booking Details</th>
                </tr>
                <tr>
                  <td>Customer Name</td>
                  <td>:&nbsp; {{loggedUser.username}}</td>
                </tr>
                <tr>
                  <td>Customer Mobile</td>
                  <td>:&nbsp; {{loggedUser.mobile}}</td>
                </tr>
                <tr>
                  <td>Rental Start Date</td>
                  <td>:&nbsp; {{fromDate | date}}</td>
                </tr>
                <tr>
                  <td>Rental End Date</td>
                  <td>:&nbsp; {{toDate | date}}</td>
                </tr>
                <tr>
                  <td>Pickup Date & Time</td>
                  <td>:&nbsp; {{fromDate | date:'medium' }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div [formGroup]="bookForm">
          <div class="product-type clearfix">
            <div class="row row-ph">
              <div class="text-left col-xs-12 col-md-12">
                <label>Special Instructions :</label>
                <textarea type="text" class="form-control" formControlName="notes"></textarea>
                <span *ngIf="fval?.notes?.errors?.required && isSubmitted" class="required-span">Notes
                  Required</span>
              </div>
            </div>
          </div>

          <div class="row pb-1 d-flex justify-content-center">
            <div class="col-md-12 col-xs-12 d-flex justify-content-center">
              <button type="button" class="btn btn-form" (click)="createOrders()">Book</button>
            </div>
          </div>

        </div>
        <div class="modal-footer head-color">
          <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Payment success successfully booked product -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': paymentSuccess ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header head-color">
        <h4 class="modal-title un-colorc">Order Status</h4>
        <button type="button" class="close" aria-label="Close" (click)="paymentAfterCall()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!--  -->
        <div class="row">
          <div class="col-md-12">
            <div class="button-controls">
              <div class="col-md-12 col-xs-12">
                <table class="font-weight-bold">
                  <tr class="head-color">
                    <th colspan="2" class="text-center un-colorc">Order Status</th>
                  </tr>
                  <tr>
                    <th colspan="2" *ngIf="bookingData?.payment_status =='paid'" class="text-center font-weight-bold">
                      You booked Camera Successfully - Go to Orders </th>
                    <th colspan="2" *ngIf="bookingData?.payment_status !='paid'" class="text-center font-weight-bold">
                      Your payment was failed. Please try again. If debited without booking, Kindly check your order
                      status in the next 10 to 20 minutes in My Order Section.</th>
                  </tr>
                </table>
              </div>
              <div class="col-md-12 col-xs-12">
                <table class="font-weight-bold">
                  <tr class="head-color">
                    <th colspan="2" class="text-center un-colorc">SELECTED PRODUCT</th>
                  </tr>
                  <tr>
                    <th colspan="2" class="text-center font-weight-bold">
                      {{bookingData?.product_name}}<br>{{bookingData?.product_model[0]?.modelName}}<br>{{bookingData?.product_model[1]?.modelName}}
                    </th>
                  </tr>
                </table>
              </div>
              <div class="col-md-12 col-xs-12">
                <table class="font-weight-bold">
                  <tr class="head-color">
                    <th colspan="2" class="text-center un-colorc">Payment Details</th>
                  </tr>
                  <tr>
                    <td>Order Id</td>
                    <td>:&nbsp; {{bookingData?.order_details.id}}</td>
                  </tr>
                  <tr>
                    <td>Customer Name</td>
                    <td>:&nbsp; {{bookingData?.customer_name}}</td>
                  </tr>
                  <tr>
                    <td>Customer Mobile</td>
                    <td>:&nbsp; {{bookingData?.customer_phone}}</td>
                  </tr>
                  <tr *ngIf="bookingData?.payment_status =='paid'">
                    <td>Pickup DateTime</td>
                    <td>:&nbsp; {{bookingData?.pickup_dateTime | date:'medium'}}</td>
                  </tr>
                  <tr *ngIf="bookingData?.payment_status =='paid'">
                    <td>Rental Start Date</td>
                    <td>:&nbsp; {{bookingData?.booking_start_date | date}}</td>
                  </tr>
                  <tr *ngIf="bookingData?.payment_status =='paid'">
                    <td>Rental End Date</td>
                    <td>:&nbsp; {{bookingData?.booking_end_date | date}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--  -->

      </div>
      <div class="modal-footer head-color">
        <button type="button" class="btn btn-default" (click)="paymentAfterCall()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': myOrders ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header head-color">
        <h4 class="modal-title un-colorc">My Orders</h4>
        <button type="button" class="close" aria-label="Close" (click)="myOrderClose()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body p-0">
        <ngx-my-orders></ngx-my-orders>
      </div>
      <div class="modal-footer head-color">
        <button type="button" class="btn btn-default" (click)="myOrderClose()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="succesfull-info-popup" [ngClass]="{ 'open': popupAlert }">
  <i class="far fa-thumbs-up"></i> <span>{{popupMessage}} </span>
</div>
