<div class="component-content-pro">
  <div class="component-content-color">
    <!-- BAR -->
    <div class="product_wrap1">

      <div class="container padd-mobile">
        <div class="row">
          <div class="col-md-12 ">
            <div class="back-icon d-inline">
              <a (click)="location.back()"> <i class="fa fa-chevron-left" aria-hidden="true"></i>Back</a>
            </div>
            <h3 class="studio-main-head ">DSLR Camara</h3>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-9 padd-mobile">
            <div class="row product-list clearfix">
              <div class=" col-md-4 col-xs-12" *ngFor="let x of productsData">
                <div class="product-list-style">
                  <div class="product-list-style-img">
                    <a (click)="callProduct(x)">
                      <img src="{{x.imageurl}}" title="{{x.productName}}" alt="{{x.productName}}"
                        class="responsive-image"></a>
                  </div>
                  <div class="overlay">
                    <a href="{{x.imageurl}}" class="zoom"></a>
                    <a (click)="callProduct(x)" class="link"></a>
                  </div>

                  <div class="product-list-style-details">
                    <a (click)="callProduct(x)" class="link">
                      <h4>{{x.productName}}</h4>
                    </a>
                    <!-- ASDD -->
                    <div id="drop_price_545" class="wrapper-dropdown-3 priceDrop" tabindex="1">
                      <ul class="dropdown">
                        <li id="itm_1" class="active"><a id="itm_href_1"><i class="product-detail">
                              <button type="button" class=" btn btn-form" (click)="callProduct(x)">Book</button>

                            </i><span class="price-left pt-3"> Rs. {{x.displayAmt}} /
                              day</span> </a></li>
                        <li id="itm_1" class="active ml-1 pl-5"> <span *ngIf="logInError"
                            class="required-span text-center ml-3">Please Login In First</span>
                        </li>

                      </ul>

                    </div>
                    <!-- ASDF -->
                  </div>
                </div>
              </div>
            </div>

            <div class="pagination clearfix">
              <p>Items 16 total</p>
              <!--
                                    <ul class=" clearfix">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">></a></li>
                                    </ul>
                                    -->
            </div>
          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <style>
            .active,
            button.accordion:hover {
              background-color: #f2f7f6;
            }

            .panel {
              padding: 0 5px !important;
              margin-bottom: 0px;
              display: none;
              background-color: white;
              overflow: hidden;
            }
          </style>

          <div class=" col-md-3 sticky">
            <div id="sidebar">
              <div class="widget">
                <h4>CATEGORIES</h4>

                <div id="accordion">
                  <!--<h5><a href="">Camera</a></h5>-->
                  <button class="accordion">Camera</button>
                  <div class="panel">
                    <div>
                      <ul>

                        <li><a href="https://www.rentoclick.com/category/dslr.html">DSLR</a></li>
                        <li><a href="https://www.rentoclick.com/category/4k-6k--beyond.html">4K, 6K & Beyond</a></li>
                        <li><a href="https://www.rentoclick.com/category/camcorder--video.html">Camcorder & Video</a>
                        </li>
                        <li><a href="https://www.rentoclick.com/category/vr-360--mobility.html">VR, 360 & Mobility</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Lens</a></h5>-->
                  <button class="accordion">Lens</button>
                  <div class="panel">
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Videography Equipments</a></h5>-->
                  <button class="accordion">Videography Equipments</button>
                  <div class="panel">
                    <div>
                      <ul>

                        <li><a href="https://www.rentoclick.com/category/support-equipment.html">Support Equipment</a>
                        </li>
                        <li><a href="https://www.rentoclick.com/category/audio--video-devices.html">Audio & Video
                            Devices</a></li>
                        <li><a href="https://www.rentoclick.com/category/lights--flashes.html">Lights & Flashes</a></li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Go Pro & Mount</a></h5>-->
                  <button class="accordion">Go Pro & Mount</button>
                  <div class="panel">
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Wedding Kit</a></h5>-->
                  <button class="accordion">Wedding Kit</button>
                  <div class="panel">
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Youtube & Vlogging Gears</a></h5>-->
                  <button class="accordion">Youtube & Vlogging Gears</button>
                  <div class="panel">
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Travel Gears</a></h5>-->
                  <button class="accordion">Travel Gears</button>
                  <div class="panel">
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Film & Cinema Equipments</a></h5>-->
                  <button class="accordion">Film & Cinema Equipments</button>
                  <div class="panel">
                  </div>

                </div>
                <div id="accordion">
                  <!--<h5><a href="">Wildlife Photography DSLR & Lens on rent</a></h5>-->
                  <button class="accordion">Wildlife Photography DSLR & Lens on rent</button>
                  <div class="panel">
                  </div>

                </div>
              </div>

              <!--
									<div class="widget">
                                        <h4>Price Filter</h4>
                                        <div class="price-range">
                                            <div id="slider-range"></div>
                                            <p class=" clearfix">
                                                <input type=" text"id="amount"/>
                                                <input type=" text"id="amount2"/>
                                            </p>
                                        </div>
                                    </div>
									-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ASDF -->
    <!--how it work-->
    <div class=" categories-wrap margin-tp-20 bg-white pb-3">
      <div class=" container">
        <div class="row how-it-work">
          <div class=" col-md-12">
            <h1 style="font-size:27px; font-weight:bold;text-align:center;margin:10px">How it Works</h1>
            <hr />
          </div>
          <div class=" col-md-4 col-sm-4">
            <img src="https://www.rentoclick.com/images/hew-1.png">
            <h1 style="font-size:18px; font-weight:bold;text-align:center;">Browse and select your renting needs</h1>
            <p style="margin-top: 25px; text-align: center;"> Browse & Select from a wide range of Rental products on
              our
              website.</p>
          </div>
          <div class=" col-md-4 col-sm-4">
            <img src="https://www.rentoclick.com/images/hew-2.png">
            <h1 style="font-size:18px; font-weight:bold;text-align:center;"> Choose Your Dates</h1>
            <p style="margin-top: 25px; text-align: center;"> Select your dates and always plan early for hassle-free
              Renting.</p>
          </div>
          <div class=" col-md-4 col-sm-4">
            <img src="https://www.rentoclick.com/images/hew-5.png">
            <h1 style="font-size:18px; font-weight:bold;text-align:center;"> Pay 10 % & Book Now </h1>
            <p style="margin-top: 25px; text-align: center;">We don't want you to lose your wallet before it gets Heavy.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- How it Work -->
  </div>
</div>

<div class="succesfull-info-popup" [ngClass]="{ 'open': popupAlert }">
  <span>{{popupMessage}} </span>
</div>