.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.icon {
  color: #007bff;

    position: absolute;
    right: 10px;
    bottom: 10px;
    filter:drop-shadow(0px 0px 1px rgba(0,0,0,0.2))
}
.svg-inline--fa {
  font-size: 54px !important;

}
