.component-content-color{
  background-color: #f5f7fa !important;
}

span .price-left{
font-weight: bold;
}

.component-content-color{
  background-color: #f5f7fa !important;
}
@media (max-width:768px){
.modal-body{
  width: 100%;
  overflow-y: scroll;
  position: relative;
  height: 446px;
}
}

.modal-body{
  width: 100%;
  overflow-y: scroll;
  position: relative;
  height: 446px;
}
.component-content-pro{
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.list-form{
  display: flex;
  padding-left: 0px;
}
.sticky {
  position: sticky !important;
  top: 100px;
}
ngx-select span.ng-star-inserted {
  color: #3366ff;
}
ngx-select span.ng-star-inserted {
  color: #3366ff;
}

#content {
  overflow: hidden;
  height: 4em;
}

#content2 {
  overflow: hidden;
  height: 4em;
}
.row{
  padding-left: 15px !important;
  padding-right:15px !important;
}
