<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>
      <img [src]="srcname">
    </span></a>



  </div>

</div>
<div class="header-container">
  <a class="header-title" href="#" (click)="navigateHome()"><span>Dindigul Camara Rental</span></a>
</div>
<div class="header-container">
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="user-action header-user" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.displayName"
               [picture]="user?.imageUrl"
               href="">
      </nb-user>
    </nb-action>
    <a class="logo" href="https://wa.me/+917904998687?text=Hi, I need your help renting a product from https://dindigulcamara.web.app/ . Please provide your details - Equipment type, Start Date, End Date" ><span>
      <img class="logowidth" [src]="whatsapp">
    </span></a>
  </nb-actions>

  <div class="btn btn-primary btn-block p-1" role="button" *ngIf="user?.role != 'Admin' && user?.role !=   null" (click)="logout()">
   Logout
  </div>
  <div class="btn btn-primary btn-block p-1" role="button" *ngIf="user?.role != 'Admin' && user?.role == null" (click)="showRegistraion();">
    Login
   </div>
</div>
<div class="succesfull-info-popup" [ngClass]="{ 'open': faild }">
  <i class="far fa-thumbs-down"></i> <span> Logout Successfully</span>
</div>

<div [ngStyle]="{'display': registrationShow ? 'block'  : 'none' }" class="component-contents">
  <div class="lightbox-model open dateVisible ">
    <div class="lightbox-contents" style="width: 351px !important;">
      <div class="lightbox-header clearfix">
        <div class="lightbox-title lightbox-title-bill">
          <span class="popu-billamo">Login & SignUp</span>
        </div>
        <div class="lightbox-close" (click)="registrationShow=false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="lightbix-inner-contents">
        <div class="tab-block-conetnts">
          <!--  -->
          <div class="row">
            <div class="col-md-12">
              <div class="button-controls">
                <ngx-customer-registration-login></ngx-customer-registration-login>
                <input type="button" (click)="registrationShow=false" value="Cancel" class="btn btn-clear" />
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
