<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-12 col-md-6 offset-lg-4 offset-md-3">
      <div class="panel border bg-white">
        <div class="panel-heading">
          <h3 class="pt-3 font-weight-bold">Admin Login</h3>
        </div>
        <div class="panel-body p-3">
          <div [formGroup]="loginForm">
            <div class="form-group py-1 pb-2">
              <div class="input-field"> <span class="fa fa-user px-2" aria-hidden="true"></span> <input type="text"
                  formControlName="email" placeholder="Username or Email" required> </div>
            </div>
            <div class="form-group py-1 pb-2">
              <div class="input-field"> <span class="fas fa-lock px-2"></span> <input type="password"
                  placeholder="Enter your Password" formControlName="password" type="{{ showPassword ? 'text' : 'password' }}"
                   required>
                <span class="btn bg-white text-muted" (click)="showPassword = !showPassword">
                  <span class="fa fa-eye-slash" *ngIf="!showPassword"></span>
                  <span class="fa fa-eye" *ngIf="showPassword"></span>
                </span>
              </div>
            </div>
            <div class="form-inline"> <a href="#" id="forgot" class="font-weight-bold">Forgot password?</a> </div>
            <div class="btn btn-primary btn-block mt-3 p-1" role="button" (click)="login()">Login</div>
            <!-- <div class="text-center pt-4 text-muted">Don't have an account? <a href="#">Sign up</a> </div> -->
          </div>
        </div>
        <div class="mx-3 my-2 py-2 bordert">
          <div class="text-center py-3"><a role="button" (click)="googleLogin()" class="px-2"> <img
                src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                alt=""> </a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="succesfull-info-popup" [ngClass]="{ 'open': popupAalert }">
  <i class="far fa-thumbs-up"></i> <span>{{popupMessage}} </span>
</div>


<!--   -->
